* {
  font-family: Montserrat;
  text-align: center;
}

h1 {
  font-size: 80px;
  font-color: #e0e0e0;
}

li {
   display: inline-block;
   width: 200px;
   border: 1px solid black;
   font-size: 20px;
}

p {
   font-size: 40px;
   font-weight: bold;
   color: pink;
 }
